.driverSales {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.download {
    width: 220px;
    margin: 0 auto;
    display: block;
}

.driverOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dates {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: block;
}

.end {
    display: block;
    margin-left: 10px;
}

.driverListTitle {
    margin-right: 10px;
}

