.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginButton {
    width: 220px;
}

.buttonPress {
    width: 108px;
}

.loginTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}