
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginButton {
    width: 220px;
}

.createAccountButton{
    width: 110px;
}

.resetPasswordButton{
    width: 110px;
}