</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginSystem</title> 
</head>
<body>
    <div class="login">
        <form method="post">
            <h2 class="title"> Good Driver </h2>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="loginButton" value="Login"/>
            <br>
            <br>
            <input type="submit" class="createAccountButton" value="Create Account"/>
            <input type="submit" class="resetPasswordButton" value="Reset Password"/>
        </form>
    </div>

</body>
</html>