<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>New User (Any Type)</title>

	<script type="text/javascript">
		function CheckUserType(val) {
			var element = document.getElementById('sponsor');
			var elementLabel = document.getElementById('sponsorLabel');
			if (val == 'Sponsor') {
				element.style.display = 'block';
				elementLabel.style.display = 'block';
				element.setAttribute('required', '');
			}
			else {
				element.style.display = 'none';
				elementLabel.style.display = 'none';
				element.removeAttribute('required');
			}
		}

	</script>
</head>

<body>
	{% include 'top_buttons.html' %}
	<div class="header_padding">
		<form  method="POST" class="form-horizontal">
			{% csrf_token %}
			<div class="mx-auto" style="width: 400px;">

				<div class="col-xs-8 col-xs-offset-4">
					<h2 style="text-align:center;">New User (Any Type)</h2>
				</div>
				<hr />
				<div class="form-group">
					<label for="username">Email</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="Enter Email"
						Required>
				</div>
				<div class="form-group">
					<label for="fanme">First Name</label>
					<input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter First Name"
						Required>
				</div>
				<div class="form-group">
					<label for="lname">Last Name</label>
					<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter Last Name"
						Required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"
						Required>
				</div>
				<div class="form-group">
					<label for="confirm_password">Confirm Password</label>
					<input type="password" class="form-control" name="confirm_password" id="confirm_password"
						placeholder="Confirm Your Password" Required>
				</div>
				<div class="form-group">
					<label for="street_address">Street Address</label>
					<input type="text" class="form-control" name="street_address" id="street_address"
						placeholder="Enter Address" Required>
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" class="form-control" name="city" id="city" placeholder="Enter City" Required>
				</div>
				<div class="form-group">
					<label for="zip_code">Zip Code</label>
					<input type="text" class="form-control" name="zip_code" id="zip_code" placeholder="Enter Zip Code"
						Required>
				</div>
				<div class="form-group">
					<label for="phone_num">Phone Number</label>
					<input type="text" class="form-control" name="phone_num" id="phone_num" placeholder="Enter Phone Number"
						Required>
				</div>
				<div class="form-group">
					<label for="user_type">User Type</label>
					<select id="user_type" name="user_type" onchange='CheckUserType(this.value);' required>
						<option value="Sponsor">Sponsor</option>
						<option value="Driver">Driver</option>
						<option value="Admin">Admin</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sponsor" id="sponsorLabel">Sponsor Name<br>*If this Organization does not currently exist, a
						new one will be created.</label>
					<input type="text" class="form-control" name="sponsor" id="sponsor" placeholder="Enter Sponsor Name"
						required>
				</div>
				<div class="form-group">
					<label for="sec_question">Security Question: What is their mother's maiden name?</label>
					<input type="text" class="form-control" name="sec_question" id="sec_question"
						placeholder="Enter Mother's Maiden Name" Required>
				</div>
				<button type="submit" class="btn btn-primary">Create Account</button>
			</div>
		</form>
		<div class="form-group">
			{% for message in messages %}
			<div class="alert alert-danger" role="alert" >
				{{message}}
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>