<!DOCTYPE html>
<head>
    <title>Admin Panel</title>
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="header_padding" style="text-align: center;">
        <h1>Administration Panel:<br>
            <h2>Choose from the options below to get started</h2>
        </h1>
        
            <a class="btn btn-dark" href="./adminCreateAccount" role="button">Create Account</a>
       
        <br>
        <br>
        <a class="btn btn-dark" href="./adminEditAccount" role="button">Edit a Driver's Profile</a>
        <br>
        <br>
        
            <a class="btn btn-dark" href="./adminDeleteAccount" role="button">Delete Account</a>
        
        <br>
        <br>
        
            <a class="btn btn-dark" href="./adminCreateSponsor" role="button">Create Sponsor Entity</a>
        
        <br>
        <br>
        
            <a class="btn btn-dark" href="./adminChangeUserPassword" role="button">Change a User's Password</a>
        
        <br>
        <br>
            <a class="btn btn-dark" href="./adminAddDriverToOrganization" role="button">Add a Driver to an Organization</a>
        
    </div>
</body>





</html>