<!DOCTYPE html>

<body>
    {% include 'top_buttons.html' %}
    <div class="header_padding" style="text-align: center;">
        <h1>Administration Panel:<br>
            <h2>Choose from the options below to get started</h2>
        </h1>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-dark" href="../adminCreateAccount" role="button">Create Account</a>
        </form>
        <br>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-dark" href="../adminDeleteAccount" role="button">Delete Account</a>
        </form>
        <br>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-dark" href="../adminCreateSponsor" role="button">Create Sponsor Entity</a>
        </form>
        <br>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-dark" href="../adminChangeUserPassword" role="button">Change a User's Password</a>
        </form>
        <br>
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-dark" href="../adminAddDriverToOrganization" role="button">Add a Driver to an Organization</a>
        </form>
    </div>
</body>





</html>