<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'sponsorView.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title> 
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="sponsorView">
        <form method="post">
            <h2 class="title"> Admin Interface </h2>
            <a href='../adminPanel'><input type="button" class="button" value="Admin Panel"/></a>
            <br>
            <br>
            <a href='./report'><input type="button" class="button" value="Generate Reports"/></a>
            <br>
            <br>
            <input type="button" class="button" onclick="window.location.href={% url 'resetPassword' %}" value="Change Password"/>
            <br>
            <br>
            <input type="button" class="button" onclick="window.location.href = '../logout'" value="Logout"/>
        </form>
    </div>

    
</body>
</html>