</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'audit.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit</title> 
</head>
<body>
    <div class="audit">
        <form method="post">
            <h2 class="title"> Sales by Sponsor Report </h2>
            <div class="sponsorOptions">
                <label class="sponsorListTitle">Sponsors:</label>
                <select class="formatting" multiple>
                    <option>Josiah</option>
                    <option>Kevin</option>
                </select>
            </div>            
            <br>
            <div class="dates" style="text-align: center; width: 300px;">
                <div>
                    <label class="start">Start Date: </label>
                    <input type="date" class="start" size="50" name="start_date">
                </div>
                <div>
                    <label class="end">End Date: </label>
                    <input type="date" class="end" size="50" name="end_date">
                </div>
            </div>
            <br>
            <div class="categoryOptions">
                <label class="categoryListTitle">Category:</label>
                <select class="formatting">
                    <option>Josiah</option>
                    <option>Kevin</option>
                </select>
            </div>        
            <br>      
            <input type="submit" class="download" value="Download" > 

        </form>
    </div>

    <div class="home">
        <img src="{% static 'images/home.png' %}" alt="My Image" >
    </div>

    <div class="switchView">
        <input type="button" value="Light Mode"/>
        <input type="button" value="Dark Mode"/>
    </div>
</body>
</html>