</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'catalog.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SponsorView</title> 
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="header_padding">
        <div style="text-align: center;">
            {% if sponsor_list %}
            <h1>All Catalog's</h1>
            <form method="POST" class="sponsorForm">
                {% csrf_token %}
                <select name="sponsor_name" id = "sponsor_name">
                    {% for entry in sponsor_list%}
                    <option value="{{entry}}">{{entry}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
            {% else %} 
            <h1>You Are Not Part Of Any Sponsors</h1>
            <input type="button" class="button" value="Return Home" onclick="window.location.href='/home'"/>
            {% endif %}
            <div >
                {% for message in messages %}
                <div role="alert">
                   <font color="red">{{message}}</font> 
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>






</body>
</html>