</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'catalog.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SponsorView</title> 
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="header_padding">
        <div style="text-align: center;">
            <h1>All Catalog's</h1>
            <form method="POST" class="sponsorForm">
                {% csrf_token %}
                <select name="sponsor_name" id = "sponsor_name">
                    {% for entry in sponsor_list%}
                    <option value="{{entry}}">{{entry}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>






</body>
</html>