<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'sponsorView.css' %}">
{% block content %}

<style>th, td{
    padding:15px;
}
.app_id{
    border: 0;
    text-align: center;
}
h1, h2{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
    <title>Applications</title>
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="header_padding">
    <h1>Pending Applications for {{sponsor_name}}</h1>
    <br>
    <br>
    {% if app_list %}
    <table>
        <tr>
            <th>Application ID</th>
            <th>Sponsor Name</th>
            <th>Status</th>
            <th>Additional Comments</th>
            <th>Time Applied</th>
        </tr>
        
    {% for application in app_list %}
        <tr>
            <form method="POST">
                {% csrf_token %}
            <td ><input type="number" class="app_id" name='application_id' value={{application.application_id}} readonly></td>
            <td>{{application.sponsor_name}}</td>
            <td>{{application.status}}</td>
            <td>{{application.reason}}</td>
            <td>{{application.date_time}}</td>
            </form>
        </tr>
    {% endfor %}

    {% else %}
        <h2>There are no pending applications</h2>
    {% endif %}
    </table>
    </div>
    <div >
        {% for message in messages %}
        <div role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
   
</body>
{% endblock %}


</html>