</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'invoice.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title> 
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="invoice">
        <form method="post">
            {% csrf_token %}
            <h2 class="title"> Invoice Report </h2>
            <div class="sponsorOptions">
                {{form}}
            </div>            
            <br>
            <div class="dates" style="text-align: center; width: 300px;">
                <div>
                    <label class="start">Start Date: </label>
                    <input type="date" class="start" size="50" name="start_date">
                </div>
                <div>
                    <label class="end">End Date: </label>
                    <input type="date" class="end" size="50" name="end_date">
                </div>
            </div>            
            <br>
            <input type="submit" class="download" value="Generate Report" > 
            <div style="text-align: center; padding:15px">
                {% for message in messages %}
                <div role="alert" style="color:rgb(255,0,0);">
                  {{message}}
                </div>
                {% endfor %}
            </div>
        </form>
    </div>

</body>
</html>