</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'pointChange.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PointChange</title> 
</head>
<body>
    <div class="pointChange">
        <form method="post">
            {% csrf_token %}
            <h2 class="title"> Point Change </h2>
            <div class="driverOptions">
                <label class="driverListTitle">Drivers:</label>
                <select class="formatting" name="driver_id">
                {% for driver in driver_list %}
                    <option value={{driver.id}}>{{driver.Name}}</option>
                {% endfor %}
                </select>
            </div>   
            <br>
            <div class="pointOptions">
                <label class="pointListTitle">Points:</label>
                <input type="number" name="point_amount" min="1" value="1">
            </div>  
            <br>
            <div class="operatorOptions">
                
                <input type="radio" name="add_or_subtract" id="add" value="add" checked>
                <label for="add" style="margin-right:50px">Add</label>
                <input type="radio" name="add_or_subtract" id="deduct" value="deduct">
                <label for="deduct">Deduct</label>
            </div>  
            <br>
            
            <textarea class="reason" name="reason" rows="4" cols="40" maxlength="50">Reason</textarea>
            <br>
            <div class="submit">
                <input type="submit" value="Submit" > 
            </div>
            <br>
            <div >
                {% for message in messages %}
                <div role="alert" style="color:rgb(255,0,0); text-align:center;">
                    {{message}}
                </div>
                {% endfor %}
            </div>
    </div>
    <div class="home">
        <img src="{% static 'images/home.png' %}" alt="My Image" >
    </div>
    <div class="switchView">
        <input type="button" value="Light Mode"/>
        <input type="button" value="Dark Mode"/>
    </div>
</body>
</html>