</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'driverManagement.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SponsorView</title> 
</head>
<body>
    <div class="home">
        <img src="{% static 'images/home.png' %}" alt="My Image" >
    </div>

    <div class="switchView">
        <input type="button" value="Light Mode"/>
        <input type="button" value="Dark Mode"/>
    </div>

    <h2 class="title"> Point History </h2>
    <h2 class="currentPointsTitle"> Current Points </h2>
    <h2 class="pointStatusTitle"> Point Status </h2>
</body>
</html>