</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'pointHistory.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PointHistory</title> 
</head>
<body>
    <div class="pointHistory">
        <form method="post">
            <h2 class="title"> Point History </h2>
            <div class="driverOptions">
                <label class="driverListTitle">Current Points:</label>
                <select class="formatting">
                    <option>Josiah</option>
                    <option>Kevin</option>
                </select>
            </div>   
              
            
        </form>
    </div>

    <div class="home">
        <img src="{% static 'images/home.png' %}" alt="My Image" >
    </div>

    <div class="switchView">
        <input type="button" value="Light Mode"/>
        <input type="button" value="Dark Mode"/>
    </div>
</body>
</html>