<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'resetPassword.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>   
</head>
<body>
    {% include 'top_buttons.html' %}
    <div class="resetPassword">
        <form method="post" >
            {% csrf_token %}
            <h2 class="title"> Password Reset</h2>
            <label for="username"> Enter your username. </label>
            <br>
            <input type="username" id="username" name="username" size="40">
            <br>
            <br>
            <label for="newPassword"> Enter a new password. </label>
            <br>
            <input type="password" id="newPassword" name="new_password" size="40">
            <br>
            <br>
            <label for="confirmPassword">Confirm your new password. </label>
            <br>
            <input type="password" id="confirmPassword" name="confirm_password" size="40">
            <br>
            <br>
            <input type="submit" value="Set Password" > 
        </form>
    </div>


    
    <div >
        {% for message in messages %}
        <div role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>

</body>
</html>