<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'resetPassword.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>   
</head>
<body>
    <div class="resetPassword">
        <form method="post" >
            <h2 class="title"> Password Reset</h2>
            <label for="newPassword"> Enter a new password. </label>
            <br>
            <input type="password" id="newPassword"  size="40">
            <br>
            <br>
            <label for="confirmPassword">Confirm your new password. </label>
            <br>
            <input type="password" id="confirmPassword" size="40">
            <br>
            <br>
            <input type="submit" value="Set Password" > 
        </form>
    </div>


    <div class="home">
        <a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}" alt="Home" ></a>
    </div>

    <div class="switchView">
        <input type="button" value="Light Mode"/>
        <input type="button" value="Dark Mode"/>
    </div>

</body>
</html>