<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'sponsorView.css' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Home</title>
</head>

<body>
    {% include 'top_buttons.html' %}
    <div class="sponsorView">
        <form method="post">
            <h2 class="title"> Sponsor Interface </h2>
            <a href='/sponsorHome/driverManagement'><input type="button" class="button" value="Driver Management" /></a>
            <!--Link-->
            <input type="button" class="button" value="Create New Sponsor" />
            <br>
            <br>
            <input type="button" class="button" value="Catalog Settings" />
            <a href='home/report'><input type="button" class="button" value="Generate Reports" /></a>
            <br>
            <br>
            <a href='../home/sponsorPanel'><input type="button" class="button" value="Sponsor Panel" /></a>
            <input type="button" class="button" onclick="window.location.href={% url 'resetPassword' %}"
                value="Change Password" />
            <br>
            <br>
            <input type="button" class="logoutButton" value="Logout" / onclick="window.location.href = '../logout'" />
        </form>
    </div>


</body>

</html>