<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Registration Form</title>
</head>

<body>
	{% include 'top_buttons.html' %}
	<div class='header_padding'>
		<form action="/sponsorAddDriver/" method="POST" class="form-horizontal">
			{% csrf_token%}
			<div class="mx-auto" style="width: 400px;">

				<div class="col-xs-8 col-xs-offset-4">
					<h2 style="text-align:center;">Create & Add a New Driver to Your Organization</h2>
				</div>
				<hr />
				<div class="form-group">
					<label for="username">Driver's Email</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="Enter Email"
						Required>
				</div>
				<div class="form-group">
					<label for="fanme">Driver's First Name</label>
					<input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter First Name"
						Required>
				</div>
				<div class="form-group">
					<label for="lname">Driver's Last Name</label>
					<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter Last Name"
						Required>
				</div>
				<div class="form-group">
					<label for="password">Driver's Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"
						Required>
				</div>
				<div class="form-group">
					<label for="confirm_password">Confirm Driver's Password</label>
					<input type="password" class="form-control" name="confirm_password" id="confirm_password"
						placeholder="Confirm Your Password" Required>
				</div>
				<div class="form-group">
					<label for="street_address">Driver's Street Address</label>
					<input type="text" class="form-control" name="street_address" id="street_address"
						placeholder="Enter Address" Required>
				</div>
				<div class="form-group">
					<label for="city">Driver's City</label>
					<input type="text" class="form-control" name="city" id="city"
						placeholder="Enter City" Required>
				</div>
				<div class="form-group">
					<label for="zip_code">Driver's Zip Code</label>
					<input type="text" class="form-control" name="zip_code" id="zip_code"
						placeholder="Enter Zip Code" Required>
				</div>
				<div class="form-group">
					<label for="phone_num">Driver's Phone Number</label>
					<input type="text" class="form-control" name="phone_num" id="phone_num"
						placeholder="Enter Phone Number" Required>
				</div>
				<button type="submit" class="btn btn-primary">SIGN UP DRIVER TO YOUR ORGANIZATION</button>
			</div>
		</form>
		<div class="form-group">
			{% for message in messages %}
			<div class="alert alert-danger" role="alert">
				{{message}}
			</div>
			{% endfor %}
		</div>
	</div>

</body>

</html>