<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'sponsorView.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Home</title> 
</head>
<body>
    <div class="sponsorView">
        <form method="post">
            <h2 class="title"> Sponsor Interface </h2>
            <input type="button" class="button" value="Driver Management"/> <!--Link-->
            <input type="button" class="button" value="Create New Sponsor"/>
            <br>
            <br>
            <input type="button" class="button" value="Catalog Settings"/>
            <input type="button" class="button" value="Generate Reports"/>
            <br>
            <br>
            <input type="button" class="button" value="Change Username"/>
            <input type="button" class="button" onclick="window.location.href={% url 'resetPassword' %}" value="Change Password"/>
            <br>
            <br>
            <input type="button" class="logoutButton" value="Logout"/>
        </form>
    </div>

    <div class="home">
        <a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}" alt="Home" ></a>
    </div>

    <div class="switchView">
        <input type="button" value="Light Mode"/>
        <input type="button" value="Dark Mode"/>
        <br>
        <br>
        <a href="{% url 'home' %}"><input type="button" value="Driver View"/></a>
    </div>
</body>
</html>