<!DOCTYPE html>

<body>
    {% include 'top_buttons.html' %}
    <div class="header_padding" style="text-align: center;">
        <h1>Sponsor Panel:<br>
            <h2>Choose from the options below to get started</h2>
        </h1>
        
            <a class="btn btn-dark" href="./sponsorCreateAccount" role="button">Create Sponsor Account</a>
        
        <br><br>
    
            <a class="btn btn-dark" href="./sponsorRemoveDriver" role="button">Remove A Driver From Your
                Organization</a>
        
        <br><br>
        
            <a class="btn btn-dark" href="./sponsorAddDriver" role="button">Add A Driver To Your Organization</a>
        
        <br><br>
        
            <a class="btn btn-dark" href="./sponsorEditOrganization" role="button">Edit Your Organization (inc.
                Catalog)</a>
        <br><br>
        <a class="btn btn-dark" href="./itemForDriver" role="button">Buy an item for a driver</a>

    </div>
</body>

</html>