{% load static %}

<head>
  <title>Profile</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
</head>
<script type="text/javascript">
  function ShowEditBox(textBoxID) {
    var textBoxElement = document.getElementById(textBoxID);

    if (textBoxElement.style.display === "none") {
      textBoxElement.style.display = "block";
    }
    else {
      textBoxElement.style.display = "none";
    }
  }

  function ShowEditBoxes(textBoxID1, textBoxID2, textBoxID3) {
    var textBoxElement1 = document.getElementById(textBoxID1);
    var textBoxElement2 = document.getElementById(textBoxID2);
    var textBoxElement3 = document.getElementById(textBoxID3);

    if (textBoxElement1.style.display === "none") {
      textBoxElement1.style.display = "block";
      textBoxElement2.style.display = "block";
      textBoxElement3.style.display = "block";
    }
    else {
      textBoxElement1.style.display = "none";
      textBoxElement2.style.display = "none";
      textBoxElement3.style.display = "none";
    }
  }

</script>


<body>
  {% include 'top_buttons.html' %}
  <div class="header_padding">
    {% block content %}

    {% if user.is_authenticated %}
    Hi {{ user.email }}!
    <br>
    Your attirbutes are:
    <br>
    Username-&ensp;&emsp;&emsp;&emsp;{{user.email}}
    <br>
    <form action="/user_profile/" method="POST" class="form-horizontal">
      {% csrf_token%}
      First Name- &nbsp;&ensp;&emsp;&emsp;{{user.first_name}}
      <a href="#" onclick="ShowEditBox('first_name');">Toggle Edit</a>
      <input type="text" id="first_name" name="first_name" style="display:none">
      <button type="submit" class="btn btn-primary" hidden="hidden">Change First Name</button>
      <br>
      Last Name- &ensp;&nbsp;&emsp;&emsp;&nbsp;{{user.last_name}}
      <a href="#" onclick="ShowEditBox('last_name');">Toggle Edit</a>
      <input type="text" id="last_name" name="last_name" style="display:none">
      <button type="submit" class="btn btn-primary" hidden="hidden">Change Last Name</button>
      <br>
      Street Address 1- &nbsp;&nbsp;&nbsp;{{user.street_address}}
      <a href="#" onclick="ShowEditBoxes('street_address', 'city', 'zip_code');">Toggle Edit</a>
      <input type="text" id="street_address" name="street_address" style="display:none">
      <button type="submit" class="btn btn-primary" hidden="hidden">Change Address</button>
      <br>
      City- &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;{{user.city}}
      <input type="text" id="city" name="city" style="display:none">
      <button type="submit" class="btn btn-primary" hidden="hidden">Change City</button>
      <br>
      Zip Code- &emsp;&emsp;&emsp;&ensp;{{user.zip_code}}
      <input type="text" id="zip_code" name="zip_code" style="display:none">
      <button type="submit" class="btn btn-primary" hidden="hidden">Change Zip</button>
      <br>
      Phone Number- &nbsp;&emsp;{{user.phone_number}}
      <a href="#" onclick="ShowEditBox('phone_number');">Toggle Edit</a>
      <input type="text" id="phone_number" name="phone_number" style="display:none">
      <button type="submit" class="btn btn-primary" hidden="hidden">Change Phone</button>
      <br>
    </form>
    User Type-&ensp;&emsp;&emsp;&emsp;{{user.user_type}}
    <br>
    <a href="../logout" role="button"><input type="button" class="button" value="Logout" /></a>

    <br>
    <br>
    {% if user.is_impersonation == 0 and user.user_type == "Sponsor" %}
    <a href="/user_profile/DriverView" role="button"><input type="button" class="button"
        value="Impersonate a Driver From Your Organization" /></a>
    {% endif %}
    {% if user.is_impersonation == 0 and user.user_type == "Admin" %}
    <a href="/user_profile/ChangeView" role="button"><input type="button" class="button"
      value="Impersonate a Driver or Sponsor" /></a>
    {% endif %}
    <br>
    <br>
    <div>
      {% for message in messages %}
      <div role="alert" style="color:rgb(255,0,0);">
        {{message}}
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>You are not logged in</p>
    <a class="btn btn-dark" href="../login" role="button">Go To Login</a>

    {% endif %}
    {% endblock %}
  </div>
</body>