<style>
    .centeredColumns {
        display: flex;
        justify-content: center;
        width: 400px;
        margin: 0 auto;
    }
    
    .column {
        text-align: center;
        width: 200px;
        list-style-type: none;
        line-height: 2;
    }
</style>

<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'driverHome.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Home</title> 
</head>
<body>
    <div class="centeredColumns">
            <div class="column">
                <input type="button" onclick="window.location.href={% url 'pointHistory' %}"; value="Point History"; tabindex="1";>
                <br>
                <br>
                <input type="button" value="Catalog"tabindex="3";/>
                <br>
                <br>
                <input type="button" value="Change Username" tabindex="5";/>
            </div>
            <div class="column">
                <input type="button" value="Orders" tabindex="2";/>
                <br>
                <br>
                <input type="button" value="Submit Application" tabindex="4";/>
                <br>
                <br>
                <input type="button" onclick="window.location.href={% url 'resetPassword' %}"; value="Change Password" tabindex="6";/>
            </div>
    </div>

</body>
</html>